
.formdiv {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;  
    font-size: 20px;
}

.formdiv form {
    width: 800px;
    margin: 0 auto;
}

.formdiv form .form-group {
    margin-bottom: 15px;
}

.formdiv form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.formdiv form input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin:10px;
}

.formdiv form button {
    display: block;
    width: 50%;
    margin:25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

 .card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}